<!DOCTYPE html>
<html>
  <head>
    <title>Test Vue</title>
    <script src="https://unpkg.com/vue@3.0.0/dist/vue.global.js"></script>
    <script type="text/javascript" src="main.js"></script>
  </head>
  <body>
    <div id="app">
      <form v-on:submit.prevent="addNewTodo">
        <label for="new-todo">Add a todo</label>
        <input
          v-model="newTodoText"
          id="new-todo"
          placeholder="うどんを食べる"
        />
        <button>Add</button>
      </form>
      <ul>
        <todo-item
          v-for="(todo, index) in todos"
          :key="todo.id"
          :title="todo.title"
          @remove="todos.splice(index, 1)"
        ></todo-item>
      </ul>
    </div>
  </body>
</html>
